@import "../../variables";
.Button {
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid $color--purple;
  font-family: Inter, sans-serif;
  font-weight: 700;
  padding-block: 1rem;
}

.Button:hover {
  background-color: $color--purple;
  color: white;
}

.Button--header {
  width: 33.3%;
  background: $color--light-lavender;
  font-size: 1rem;
  color: $color--purple;
}

.Button--header:first-child {
  border-top-left-radius: $border-radius--primary;
  border-bottom-left-radius: $border-radius--primary;
}

.Button--header:last-child {
  border-top-right-radius: $border-radius--primary;
  border-bottom-right-radius: $border-radius--primary;
}

.Button--header--active {
  background: $color--purple;
  color: white;
}

.Button--footer {
  position: sticky;
  bottom: 2rem;
  background: $color--purple;
  color: white;
  font-size: 1.5rem;
  border-radius: $border-radius--primary;
}

.Button--aside {
  border: 0;
  background: transparent;
  padding: 0.5rem;
  color: white;
  font-weight: 500;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: $border-radius--primary;
}

.Button--aside:hover {
  background: rgba(0, 0, 0, 0.2);
}

.Button--aside__image {
  transition: 0.5s;
}

.Button--aside__image--rotated {
  transform: rotate(180deg);
}

@media (max-width: 630px) {
  .Button--header {
    font-size: 0.75rem;
    font-weight: 500;
    padding-inline: 0;
  }

  .Button--header {
    font-size: 0.75rem;
  }

  .Button--footer {
    bottom: 1rem;
    background: $color--purple;
    color: white;
    font-size: 1.5rem;
    border-radius: $border-radius--primary;
  }

  .Button--aside__text {
    display: none;
  }
}
