@import "../../variables";

.Form {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.Form__input {
  display: none;
}

.Form__label {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: $color--lavender;
  cursor: pointer;
}

.Form__input + .Form__label::before {
  border: 1px solid $color--purple;
  width: 21px;
  height: 21px;
  content: '';
  border-radius: 4px;
}

.Form__input--connections + .Form__label::before {
  border-radius: 4px;
}

.Form__input--company + .Form__label::before {
  border-radius: 50%;
}

.Form__input--connections:checked + .Form__label::before {
  background: url('../../svg/check_1.svg') no-repeat center;
}

.Form__input--company:checked + .Form__label::before {
  background: url('../../svg/check_2.svg') no-repeat center;
}

@media (max-width: 1400px) {
  .Form__label {
    color: white;
  }
  .Form__input + .Form__label::before {
    border: 1px solid white;
  }
  .Form__input--company:checked + .Form__label::before {
    background: url('../../svg/check_2--whie.svg') no-repeat center;
  }
}

@media (max-width: 630px) {
  .Form__label {
    font-size: 0.75rem;
  }
}


