@import '../../variables';

.Header {
  display: flex;
  align-items: center;
  gap: 3rem;
  position: absolute;
  right: calc(50% + 2rem + 272px)
}

.Header__logo {
  display: block;
}

.Header__title {
  margin: 0;
  font-size: 1.5rem;
  color: $color--purple;
}

@media (max-width: 1440px) {
  .Header {
    position: static;
    justify-content: center;
  }

  .Header__logo {
    max-height: 54px;
  }

  .Header__title {
    display: none;
  }
}
